<div class="container p-5">
    <div class="row">
        <div class="row-cols-1">
          <form action="" method="POST">
          <a class="btn btn-dark" href="/links/links{{Id}}">
           exportar a excel
            </a>
          
          <label for="datemax">Ingresar Fecha Inicio</label>
          <input type="date" id="datemax" name="datemax" max=date>
          
          <label for="datemin">Ingresar Fecha Final</label>
          <input type="date" id="datemin" name="datemin" min="2000-01-02">
         <a class="btn btn-dark" href="/links/{{cconsultas}}">
           ordenar
            </a>
           
            </form>
            </div>
         <table class="table">
              <thead>
                 <tr>
                 <th scope="col">#</th>
                 <th scope="col">Cliente</th>
                 <th scope="col">Numero de Guia</th>
                 <th scope="col">Alto</th>
                 <th scope="col">Ancho</th>
                 <th scope="col">Largo</th>
                 <th scope="col">Peso</th>
                 <th scope="col">Fecha</th>
                </tr>
             </thead>
             <tbody id="respuesta">
              {{#each guias}}
               <tr>
                 <td>{{Id}}</td>
                 <td></td>
                 <td>{{NumeroGuia}}</td>
                 <td>{{Alto}}</td>
                 <td>{{Ancho}}</td>
                 <td>{{Largo}}</td>
                 <td>{{Peso}}</td>
                 <td>{{Fecha}}</td>
                 
               </tr>
              {{/each}}
             </tbody>
         </table>
         <ul class="pagination pagination-lg" id="dep_page"></ul>
    </div>
</div>
<script>
$(document).ready(function(){
  $('#respuestas').pageMe({
    pagerSelector:'dep_page',
    showPrevNext:true,
    hidePageNumbers:false,
    perPage:10
  });
})
</script>
